.create-videogame{
    background-image: url("https://www.caf.com/media/3337680/pixabay-rio-de-janeiro-1024x682.jpeg");
    background-position: center;
    background-size: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-style:inherit;
    padding-left: 200px;
    padding-right: 200px;
    overflow-y: scroll;
}
.create-videogame::-webkit-scrollbar {
    display: none;
}
.encabezado{
    background-color:rgba(0, 0, 0, 0.822)  ;
    color: rgb(206, 205, 205) ;
    border-radius: 16px;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 18px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.822);
    color: rgb(206, 205, 205) ;
    padding-top: 22px;
    padding-left: 12px;
    padding-right: 18px;
    border-radius: 12px;
    max-width: 800px;
    max-height: 85vh;
    min-height: 55vh ;
    min-width: 450px;
    overflow-y: scroll;
}
.formulario::-webkit-scrollbar {
    display: none;
}

.input-container{
    display: flex;
    align-items: center;
    padding-top: 16px;
}
.input-container1{
    display: flex;
    align-items: center;
    padding-bottom: 1px;
    margin-bottom: 1px;
}
.input-form{
    margin-left: 12px;
    background-color:rgba(54, 54, 54, 0.404) ;
    color: rgb(206, 205, 205) ;
    border-radius: 8px;
    padding-left: 8px;
    margin-right: 12px;
}
.btn-crear{
    background-color:#224061 ;
    border-color:#224061  ;
    color:whitesmoke;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    margin-left: 12px;
    font-size: 14px;
}
.btn-crear:hover{
    background-color: rgb(28, 134, 33);
    border-color:rgb(28, 134, 33) ;
    color:whitesmoke;
    transition: 0.5s;

}
.buton-atras{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(182, 21, 21);
    color:whitesmoke;
    border-color: rgb(182, 21, 21);
    margin-left: 8px;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    padding-left: 28px;
    font-size: 14px;
}
.buton-atras:hover{
    border-color:rgb(151, 17, 17) ;
    background-color: rgb(151, 17, 17) ;
    color: whitesmoke;
    transition: 0.5s;
}
.linkbt{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.container-platform-label{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}
.platform-Label{
    display: flex;
    margin: 2px;
    background-color:rgba(46, 48, 49, 0.795) ;
    color: whitesmoke;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    height: 22px;

    
}
.delete-buton-label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(151, 17, 17) ;
    border:none;
    padding-bottom: 3px;
    margin: 5px;
    color: whitesmoke;
    font-size: x-small;
    border-radius: 2px;
    height: 12px;
    width: 12px;
}
.input-country{
    background-color:rgba(54, 54, 54, 0.404) ;
    color: rgb(206, 205, 205) ;
    border-radius: 8px;
    padding-left: 8px;
    width: 150px;
    padding-left: 4px;
    margin-left: 12px;
}
.texterr{
    color: rgb(182, 21, 21);
    font-size: 13px;
    font-weight: 650;
}
.hrs{
    font-size: 12px;
    font-weight: 500;
}