.create-videogame{
    background-image: url("../assets/fono-countries-02.jpg");
    background-position: center;
    background-size: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-style:inherit;
    padding-left: 200px;
    padding-right: 200px;
}
.encabezado{
    background-color: rgba(175, 175, 175, 0.603) ;
    color: #222d3a ;
    border-radius: 16px;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 28px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(175, 175, 175, 0.603);
    color: #222d3a ;
    padding-top: 22px;
    padding-left: 12px;
    padding-right: 18px;
    border-radius: 12px;
    min-height: 280px;
    max-width: 400px;
}
.input-container{
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}
.input-form{
    margin-left: 12px;
    background-color:rgba(134, 133, 133, 0.404) ;
    color: #222d3a ;
    border-radius: 8px;
    padding-left: 8px;
    margin-right: 200px;
}
.btn-crear{
    background-color:#224061 ;
    border-color:#224061  ;
    color:whitesmoke;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    margin-left: 12px;
    font-size: 14px;
}
.btn-crear:hover{
    background-color: rgb(28, 134, 33);
    border-color:rgb(28, 134, 33) ;
    color:whitesmoke;
    transition: 0.5s;

}
.buton-atras{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(182, 21, 21);
    color:whitesmoke;
    border-color: rgb(182, 21, 21);
    margin-left: 8px;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    padding-left: 28px;
    font-size: 14px;
}
.buton-atras:hover{
    border-color:rgb(151, 17, 17) ;
    background-color: rgb(151, 17, 17) ;
    color: whitesmoke;
    transition: 0.5s;
}
.linkbt{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.container-platform-label{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}
.platform-Label{
    display: flex;
    margin: 10px;
    background-color:rgba(46, 48, 49, 0.795) ;
    color: whitesmoke;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding-left: 5px;

    
}
.delete-buton-label{
    background-color:rgb(151, 17, 17) ;
    border-color: rgb(151, 17, 17);
    padding: 2px;
    margin: 5px;
    color: whitesmoke;
    font-size: x-small;
    border-radius: 5px;
}
.input-country{
    background-color:rgba(134, 133, 133, 0.404) ;
    color: #222d3a ;
    border-radius: 8px;
    padding-left: 8px;
    width: 150px;
}
