.landing-page{
    background: no-repeat url('../assets/fondo-countries-03.jpg');
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.fondo-landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton-landing{
    background-color: #d2d2d3;
    border:none;
    color:rgb(19, 40, 73);
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.boton-landing:hover{
    transition: 0.4s;
    background-color:#AEB6BF ;
    color: #283747 ;
}
.gif{
    height: 24px;
    width: auto;
    margin-bottom: 20px;
}