.landing-page{
    background: no-repeat url('../assets/fondo-countries-03.jpg');
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.fondo-landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton-landing{
    background-color: transparent;
    color:rgb(115, 119, 122);
    font-size: 1rem;
    padding: .7rem .7em;
    border:2px transparent;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem rgb(175, 175, 175),
     -.5rem -.5rem 1rem rgb(240, 239, 239);
}
.boton-landing:hover{
    box-shadow: .5rem .5rem 1rem rgb(240, 239, 239),
     -.5rem -.5rem 1rem #ccc;
}
.boton-landing:active{
    box-shadow: inset .2rem .2rem 1rem #fff,
     inset -.2rem -.2rem 1rem #ccc;
}
.gif{
    height: 20px;
    width: auto;
    margin-bottom: 16px;
}