.cards-wraper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
    padding-bottom: 0px;
    margin-right: 20px;
    margin-top: 8px;
}

.paginado-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}
.gif1{
    height: 60px;
    width: auto;
    margin-bottom: 4px;
    padding-bottom: 8px;
    padding-right: 8px;
}
.loading{
    padding-top: 230px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-left:70px;
    padding-right: 95px;
}
.text-loading{
    font-size: 22px;
    font-weight: bolder;
    margin-right: 8px;
    color: rgb(51, 52, 54) ;
    padding-left: 2px;
    padding-bottom: 14px;
}
.cargando1{
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 21%;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 12px;
    text-align: center;
    height: 40px;
}