.container{
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#030b14b9;
    color:whitesmoke;
    padding: 4px;
    padding-top: 8px;
    border-radius: 6px;
    margin: 8px;
    height: 210px;
    cursor: pointer;
    
}
.container:hover{
    background-color:#010508fb;
    color:whitesmoke;
    width: 220px;
    height: 220px;
    margin: 0px;
    transition: 0.5s;
}
.img-card{
    height: 60px;
    width: auto;
}
.name-country{
    margin: 4px;
    padding: 2px;
}